/* for the heading */
.tag {
	text-align: center;
	color: green;
	margin: 2rem;
}

/* for the jigsaw puzzle container */
.jigsaw-puzzle {
	width: 80%;
	height: 80%;
	border: 2px solid black;
	margin: auto;
	box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
}

.instructions-front{
    width: 50%;
	height: 50%;
	border: 2px solid black;
	margin: auto;
	box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
}

.instructions-back{
    width: 50%;
	height: 50%;
	border: 2px solid black;
	margin: auto;
	box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
}

.instruction-container {
    display: flex;
    flex-direction: row;
  }

